body{
    background-image: url(wallpapersden.com_tiny-tina-s-wonderlands-gaming-background_1920x1080.jpg);
}
.header
{
    text-align: center;
    margin-top:250px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:white;
    background-image: url("");
}
.btn
{
    text-align: center;
    display:block;
    margin:0 auto;
    border-radius: 10px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.btn1
{
    text-align: center;
    display:block;
    margin:0 auto;
    margin-top: 10px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-radius: 10px;
    background-color: black;
    color:white;
    box-shadow: 5 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
   
}
.vgames
{
    color:white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}


